.env
.ignore
__pycache__
.venv
.ignore
venv
__pycache__
scraper/__pycache__/*
scraper/__pycache__

*.env
test*
AmayaLead/pyproject.toml
FastAPI/e.json
FastAPI/4a85b5af-c890-4982-b111-25c02805aaad.txt
FastAPI/59a2a4c5-d78e-428e-868b-a39ea2debcbc.txt
FastAPI/tmp_file.txt
a.json
